{% extends "base.html" %}
{% block content %}
<tr>

   <td class="h">Add New Recpient</td>
</tr>
<tr>
   <td>
      <label>First</label>
      <input width="200" style="width: 200px" name="code" type="text" id="code" value="" />
      <label>Last</label>
      <input width="200" style="width: 200px" name="code" type="text" id="code" value="" />
   </td>
</tr>
<tr>

   <td class="h">Add New Recpient</td>
</tr>
<tr>
   <td>
      <label>First</label>
      <input width="200" style="width: 200px" name="code" type="text" id="code" value="" />
      <label>Last</label>
      <input width="200" style="width: 200px" name="code" type="text" id="code" value="" />
   </td>
</tr>
{% endblock %}