{% extends "base.html" %}
{% block content %}

{% if error %}
<br>
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Error</h4>
  {% for err in error %}
  <span class="text-error">{{ err }}</span>
  {% endfor %}
</div>
{% endif %}
<form action="{{ url_for('subscribers.create_list') }}" method="post">
  <br>
  <div class="row-fluid">
    <div class="span7">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <td class="h">List Details</td>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td colspan="2">
              <label> <strong>Enter the name of the list</strong>
              </label>
              {% if editing %}
              <input width="200" style="width: 200px" name="name" type="text" id="name" value="{{ list['name'] }}" />
              {% else %}
              <input width="200" style="width: 200px" name="name" type="text" id="name" value="" />
              {% endif %}
            </td>
          </tr>

          <tr>
            <td>
              <label> <strong>Enter a brief description for this list</strong>
              </label>
              {% if editing %}
              <input width="200" style="width: 400px" name="description" type="text" id="description" value="{{ list['description'] }}" />
              {% else %}
              <input width="200" style="width: 400px" name="description" type="text" id="description" value="" />
              {% endif %}
            </td>
          </tr>

          <tr>
            <td>
              <input type="submit" class="btn btn-success pull-left" value="Save &amp; Continue" />
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="span5">
    <form action="{{ url_for('subscribers.edit_recipients') }}" method="post">
      <table class="table table-hover table-bordered">
        <td class="h">Edit Recipients</td>

        <tr>
          <td>
            <label>
              <strong>Add new recipient</strong>
            </label>
            Name&nbsp;&nbsp;
            <input width="200" style="width: 400px" name="new_name" type="text" id="new_name" value="" />
            Email&nbsp;&nbsp;&nbsp;
            <input width="200" style="width: 400px" name="new_email" type="text" id="new_email" value="" />
          </td>
          <input type="hidden" style="width: 400px" name="list_id" id="list_id" value="{{list_id}}" />
        </tr>

        <tr>
          <td>
            <label>
              <strong>Edit current recipient</strong>
            </label>

            <select>
              {% for recip in recipients %}
              <option value="{{ recip.split()[2] }}">{{ recip }}</option>
              {% endfor %}
            </select>

          </td>
        </tr>
        <tr>
          <td>

            <input type="submit" class="btn btn-success pull-left" value="Save &amp; Continue" />
          </form>
        </td>
      </tr>

      <form action="{{ url_for('subscribers.upload_csv'), list_id }}" method="post" enctype="multipart/form-data">

        <tr>
          <td>
            <label>
              <strong>Import recipients from CSV</strong>
            </label>
            <input type="file" name="file" id="file" />
          </td>
        </tr>
        <tr>
          <td>
            <input type="submit" class="btn btn-success pull-left" value="Upload" />
          </td>
        </tr>

      </form>

    </table>
  </div>
</div>

<br />
{% endblock %}