{% extends "base.html" %}
{% block content %}

{% if error %}
<br>
<div class="alert alert-error">
   <button type="button" class="close" data-dismiss="alert">&times;</button>
   <h4>Error</h4>
   {% for err in error %}
   <span class="text-error">{{ err }}</span>
   {% endfor %}
</div>
{% endif %}
<form action="{{ url_for('subscribers.create_list') }}" method="post">
   <table class="table table-hover table-bordered">
      <tr>

         <td class="h">Name</td>
      </tr>
      <tr>
         <td>
            <label>Enter the name of the list</label>
            {% if editing %}
            <input width="200" style="width: 200px" name="name" type="text" id="name" value="{{ list['name'] }}" />
            {% else %}
            <input width="200" style="width: 200px" name="name" type="text" id="name" value="" />
            {% endif %}
         </td>
      </tr>
      <tr>

         <td class="h">Description</td>
      </tr>
      <tr>
         <td>
            <label>Enter a brief description for this list</label>
            {% if editing %}
            <input width="200" style="width: 400px" name="description" type="text" id="description" value="{{ list['description'] }}" />
            {% else %}
            <input width="200" style="width: 400px" name="description" type="text" id="description" value="" />
            {% endif %}
         </td>
      </tr>
      {% if editing %}
      <tr>
         <td>
            <a href="{{ url_for('subscribers.edit_list_recipients', lid=list['lists_id'])
            }}" class="btn btn-success pull-left">Edit Recipients</a>
            {% endif %}
         </td>
      </tr>
   </table>
   <input type="submit" class="btn btn-success pull-left" value="Save &amp; Continue" />
</form>

<br />
{% endblock %}