{% extends "base.html" %}
{% block content %}
<div class="row-fluid">
    <div class="span20">
        <h1 class="pull-left">Recipients</h1><br>
        <a href="{{ url_for('subscribers.create_recipient', lid = list['list_id']) }}" class="btn btn-success pull-right">New Recipient</a>
        <table style="overflow: auto;" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Date Added</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for recip in lists %}
                <tr>
                    <td>{{ recip['first_name'] }}</td>
                    <td>{{ recip['last_name'] }}</td>
                    <td>{{ recip['email'] }}</td>
                    <td>{{ recip['date_added'] }}</td>
                    <td>
                        <a href="{{url_for('subscribers.delete_list_recipients', rid = recip['recipient_id']) }}" class="btn btn-danger pull-right" onClick="return confirmDelete();" >Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}