{% extends "base.html" %}
{% block content %}
<br>
{% if nid != None %}
<ul class="nav nav-tabs">
    <li>
        <a href="{{ url_for('campaigns.edit_campaign', nid=nid) }}">Step 1</a>
    </li>
    <li class="active">
        <a href="#">Step 2</a>
    </li>
    <li>
        <a href="{{ url_for('messages.edit_message', nid=nid) }}">Step 3</a>
    </li>
</ul>
<br>
{% endif %}
{% if error %}
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error:</h4>
    <span class="text-error">{{ error }}</span>
</div>
<br>
{% endif %}
{% if success %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Success:</h4>
    <span class="text-success">{{ success }}</span>
</div>
<br>
{% endif %}
<div class="row-fluid">
    <div class="span20">
        <h1 class="pull-left">Existing Lists</h1>
        <br>
        <a href="{{ url_for('subscribers.create_list') }}" class="btn btn-success pull-right ">Create New List</a>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <td class="vcenter">Name</td>
                    <td class="vcenter">Description</td>
                    <td class="vcenter">Date Added</td>
                    <td class="vcenter" style="width:10px;">Recipients</td>
                    <td class="vcenter"></td>
                </tr>
            </thead>
            <tbody>
                {% for lst in lists %}
                <tr>
                    <td>{{ lst.name }}</td>
                    <td>{{ lst.description }}</td>
                    <td style="text-align:center;vertical-align:middle;">{{ lst.local_time }}</td>
                    <td style="text-align:center;vertical-align:middle;">{{ lst.recip_count }}</td>
                    {% if nid %}
                    <td style="table-layout: fixed;overflow: hidden;text-align:center;width:200px;" >
                        {% else %}
                        <td style="table-layout: fixed;overflow: hidden;text-align:center;width:150px;">
                            {% endif %}
                            {% if lst.action == "add_to" %}
                            <a href="{{ url_for('subscribers.add_to_campaign', lid=lst.id, nid=nid) }}" class="btn btn-mini"><i class="icon-plus"></i>Add</a>
                            {% elif lst.action == "remove_from" %}
                            <a href="{{ url_for('subscribers.remove_from_campaign', lid=lst.id, nid=nid) }}" class="btn btn-mini"><i class="icon-minus"></i>Remove</a>
                            {% endif %}
                            <a href="{{ url_for('subscribers.edit_list', lid=lst.id ) }}" class="btn btn-mini"><i class="icon-edit"></i>Edit</a>
                            <a href="{{url_for('subscribers.delete_campaign', lid = lst.id) }}" onClick="return confirmDelete();" class="btn btn-mini" onClick="return confirmDelete();"><i class="icon-remove"></i>Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="pull-right">
        {% if page != 0 %}
        <a href="{{ url_for('subscribers.index', page = (page - 1))
        }}">Previous Page</a>
        {% endif %}
        <a href="{{ url_for('subscribers.index', page = (page + 1))
        }}">Next Page</a>
    </div>
    {% endblock %}