{% extends "base.html" %}
{% block content %}

{% if success %}
<br>
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Success:</h4>
    <span class="text-success">List was created successfully</span>
</div>
<br>
{% endif %}
<div class="row-fluid">
    <div class="span20">
        <h1 class="pull-left">Existing Lists</h1>
        <br>
        <a href="{{ url_for('subscribers.create_list') }}" class="btn btn-success pull-right ">Create New List</a>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date Added</th>
                    <th>Recipients</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                {% for lst in lists %}
                <tr>
                    <td>{{ lst['name'] }}</td>
                    <td>{{ lst['description'] }}</td>
                    <td>{{ lst['date_added'] }}</td>
                    <td>{{ lst['recip_count'] }}</td>
                    <td>
                        <a href="{{ url_for('subscribers.edit_list', lid=lst['lists_id'] ) }}" class="btn btn-success ">Edit</a>
                        <a href="{{url_for('subscribers.delete_campaign', lid = lst['lists_id']) }}" class="btn btn-danger " onClick="return confirmDelete();" >Delete</a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="pull-right">
    {% if page != 0 %}
    <a href="{{ url_for('subscribers.index', page = (page - 1))
            }}">Previous Page</a>
    {% endif %}
    <a href="{{ url_for('subscribers.index', page = (page + 1))
            }}">Next Page</a>
</div>
{% endblock %}