{% extends "base.html" %}
{% block content %}
{% from '_macros.html' import input %}
<h2>Login</h2>
{% if errors %}
{% include 'error.html' %}
{% endif%}

{% if logout %}
  <p class="text-info"> <strong>Logged out:</strong>
    You have been successfully logged out.
{% endif %}
    <form action="{{ url_for('login') }}" method="post">
     <dl>
    <dt>Email</dt>
    <dd>{{ input('email') }}</dd>
    <dt>Password</dt>
    <dd>{{ input('password', type='password') }}</dd>
    <dd><input type="submit" value="Login"></dd>
</dl> 

    </form>
    

    {% endblock %}