{% extends "base.html" %}
{% block content %}
{% import 'macros/forms.html' as forms %}
<h2>Login</h2>
{% if errors %}
  {% include "snippets/error.html" %}

{% endif %}

{% if logout %}
  <p class="text-info"> <strong>Logged out:</strong>
    You have been successfully logged out.
{% endif %}
    <form action="{{ url_for('login') }}" method="post">
     <dl>
    <dt>Email</dt>
    <dd>{{ forms.input('email') }}</dd>
    <dt>Password</dt>
    <dd>{{ forms.input('password', type='password') }}</dd>
    <dd><input type="submit" value="Login"></dd>
</dl> 

    </form>
    

    {% endblock %}