{% extends "base.html" %}
{% block content %}
{% from 'macros/_macros.html' import steps with context %}
{{ steps('1', nid)}}
<form action="{{ url_for('campaigns.edit', nid = nid) if editing else url_for('campaigns.create') }}" method="post">
   <table class="table table-hover table-bordered">
      <tr>
         <td class="h">Priority</td>
      </tr>
      <tr>
         <td>
            <select width="350" style="width: 350px" name="priority" nid="priority">
               <option value="2">Normal</option>
               <option value="3">Low</option>
               <option value="1">High</option>
            </select>
         </td>
      </tr>
      <tr>
         <td class="h">Add Unsubscriber Link?</td>
      </tr>
      <tr>
         <td class="alternate">
            <input type="checkbox" name="unsub" id="unsub" value="1" {{checked if newsletter['unsub'] else ''}} />
            Yes add an unsubscribe link to this email
         </td>
      </tr>
      <tr>
         <td class="h">Company</td>
      </tr>
      <tr>
         <td class="alternate">
            <select width="350" style="width: 350px" name="company" id="company" >
               <option value="{{ newsletter['company'] if editing else '' }}">{{ newsletter['company'] if editing else "Select" }}</option>
               {% for comp in companies %}
               <option value="{{ comp[0] }}">{{ comp[1] }}</option>
               {% endfor %}
            </select>
         </td>
      </tr>
      <tr>
         <td class="h">Campaign #</td>
      </tr>
      <tr>
         <td>
            <label>#</label>
            <input width="350" style="width: 350px" name="code" type="text" id="code" value="{{ newsletter['code']  if editing else '' }}" />
         </td>
      </tr>
      <tr>
         <td class="h">Subject Line</td>
      </tr>
      <tr>
         <td>
            <label>Subject</label>
            <input width="350" style="width: 350px" name="subject" type="text" id="subject" value="{{ newsletter['name'] if editing else ''}}" />
         </td>
      </tr>
      <tr>
         <td class="h">From Name</td>
      </tr>
      <tr>
         <td>
            <label>Name</label>
            <input width="350" style="width: 350px" name="from_name" type="text" id="from_name" value="{{ newsletter['from_name'] if editing else '' }}" />
            or choose
            <select onchange="updateInput('from_name', this.value)" width="350" style="width: 350px" name="from_name_sel" id="from_name_sel" >
               <option value="">Select</option>
               {% for st in staff %}
               <option value="{{ st[0] }}">{{ st[0] }}</option>
               {% endfor %}
            </select>
         </td>
      </tr>
      <tr>
         <td class="h">From Email</td>
      </tr>
      <tr>
         <td>
            <label>Email</label>
            <input width="350" style="width: 350px" name="from_email" type="text" id="from_email" value="{{ newsletter['from_email'] if editing else '' }}"  />
            or choose
            <select onchange="updateInput('from_email', this.value)" width="350" style="width: 350px" name="from_email_sel" nid="from_email_sel" >
               <option value="">Select</option>
               {% for st in staff %}
               <option value="{{ st[1] }}">{{ st[0] }} ({{st[1]}})</option>
               {% endfor %}
            </select>
         </td>
      </tr>
      <tr>
         <td class="h">Reply To</td>
      </tr>
      <tr>
         <td>
            <label>Reply Email</label>
            <input width="350" style="width: 350px" name="replyto_email" type="text" id="replyto_email" value="{{ newsletter['replyto_email'] if editing}}"  />
            or choose
            <select onchange="updateInput('replyto_email', this.value)" width="350" style="width: 350px" name="replyto_sel" id="replyto_sel" >
               <option value="">Select</option>
               {% for st in staff %}
               <option value="{{ st[1] }}">{{ st[0] }} ({{st[1]}})</option>
               {% endfor %}
            </select>
         </td>
      </tr>
   </table>
   <input type="submit" class="btn btn-success pull-left" value="Save &amp; Continue" />
</form>
<br />
{% endblock %}