{% extends "base.html" %}
{% block content %}
<div class="row-fluid">
   <div class="span6">
      <table class="table table-hover table-bordered">
         <h5 >Newsletter Queue</h5>
         <thead>
            <tr>
               <td> <strong>Subject</strong>
               </td>
               <td> <strong>Send date</strong>
               </td>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td colspan="2">
                  <div class="box box-info">No newsletters are set to go out</div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="span6">
      <table class="table table-hover table-bordered">
         <h5>Quick Search</h5>
         <tr>
            <td>Search by PIP#</td>
            <td>
               <input name="pip" type="text" id="pip" value="" />
            </td>
         </tr>
         <tr>
            <td>Search Subject</td>
            <td>
               <input name="keyword" type="text" id="keyword" value="" />
            </td>
         </tr>
         <tr>
            <td>By Date Range</td>
            <td >&nbsp;</td>
         </tr>
         <tr>
            <td>From:</td>
            <td>
               <input name="datefrom" type="text" id="datefrom" value=""  />
            </td>
         </tr>
         <tr>
            <td >To:</td>
            <td >
               <input name="dateto" type="text" id="dateto" value="" />
            </td>
         </tr>
      </table>
   </div>
</div>
<div class="row-fluid">
   <div class="span20">
      <h1 class="pull-left">Latest Campaigns</h1>
      <br>
      <a href="{{ url_for('campaigns.create') }}" class="btn btn-success pull-right">Create New Campaign</a>
      {% from 'macros/_macros.html' import render_table with context %}
      {{ render_table('campaigns', newsletters, "table table-hover table-bordered table-striped")}}
      <div class="pagination">
         <ul>
            {% if page != 0 %}
            <li>
               <a href="{{ url_for('campaigns.index', page = (page - 1))
               }}">Prev</a>
            </li>
            {% endif %}
            {% for i in range(1) %}
            <li class="active">
               <a href="{{ url_for('campaigns.index', page = page)
            }}">{{page}}</a></li>
            <li>
               <a href="{{ url_for('campaigns.index', page = (page + 1))
            }}">{{page + 1}}</a></li>
            <li>
               <a href="{{ url_for('campaigns.index', page = (page + 2))
            }}">{{page + 2}}</a></li>
            <li>
               <a href="{{ url_for('campaigns.index', page = (page + 3))
            }}">{{page + 3}}</a></li>
            {% endfor %}
            <li>
               <a href="{{ url_for('campaigns.index', page = (page + 1))
            }}">Next</a></li>
         </ul>
      </div>
      {% endblock %}