{% extends "base.html" %}
{% block content %}
{% from '_macros.html' import steps with context %}
{{ steps('1', nid)}}

{% if form_errors %}
{% include 'form_error.html' %}
{% endif%}
<form action="{{ url_for('newsletters.edit', nid = nid) if newsletter else url_for('newsletters.create') }}" method="post">

   <table class="table table-striped table-bordered table-condensed">
      <tr>
         <th>Add Unsubscriber Link?</th>
      </tr>
      <tr>
         <td class="alternate">
            {% if newsletter %}
               {% if newsletter['unsub'] == 1 %}
                  <input type="checkbox" name="unsub" id="unsub" value="1" checked />
               {% else %}
                  <input type="checkbox" name="unsub" id="unsub" value="0" />
               {% endif %}
            {% else %}
            <input type="checkbox" name="unsub" id="unsub" value="1" />
            {% endif %}
            Yes add an unsubscribe link to this email
         </td>
      </tr>
      <tr>
         <th>Company</th>
      </tr>
      <tr>
         <td class="alternate">
            <select width="250" name="company" id="company" >
               <option value="{{ newsletter['company'][0] if newsletter else '' }}">
               {{ newsletter['company'][1] if newsletter else "Select" }}
               </option>
               {% for comp in companies %}
                  {% if newsletter %}
                     {% if comp[0] != newsletter['company'][0] %}
                     <option value="{{ comp[0] }}">{{ comp[1] }}</option>
                     {% endif %}
                  {% else %}
                  <option value="{{ comp[0] }}">{{ comp[1] }}</option>
                  {% endif %}
               {% endfor %}
            </select>
         </td>
      </tr>
      <tr>
         <th>Campaign Code</th>
      </tr>
      <tr>
         <td>
            <label>Code</label>
            <input width="250" name="code" type="text" id="code" value="{{ newsletter['code']  if newsletter else '' }}" />
         </td>
      </tr>
      <tr>
         <th>Subject Line</th>
      </tr>
      <tr>
         <td>
            <label>Subject</label>
            <input width="350" name="subject" type="text" id="subject" value="{{ newsletter['subject'] if newsletter else ''}}" />
         </td>
      </tr>
      <tr>
         <th>From Name</th>
      </tr>
      <tr>
         <td>
            <label>Name</label>
            <input width="250" name="from_name" type="text" id="from_name" value="{{ newsletter['from_name'] if newsletter else '' }}" />
            or choose
            <select onchange="updateInput('from_name', this.value)" width="250" name="from_name_sel" id="from_name_sel" >
               <option value="">Select</option>
               {% for st in staff %}
               <option value="{{ st[0] }}">{{ st[0] }}</option>
               {% endfor %}
            </select>
         </td>
      </tr>
      <tr>
         <th>From Email</th>
      </tr>
      <tr>
         <td>
            <label>Email</label>
            <input width="250" name="from_email" type="text" id="from_email" value="{{ newsletter['from_email'] if newsletter else '' }}"  />
            or choose
            <select onchange="updateInput('from_email', this.value)" width="250" name="from_email_sel" nid="from_email_sel" >
               <option value="">Select</option>
               {% for st in staff %}
               <option value="{{ st[1] }}">{{ st[0] }} ({{st[1]}})</option>
               {% endfor %}
            </select>
         </td>
      </tr>
      <tr>
         <th>Reply To</th>
      </tr>
      <tr>
         <td>
            <label>Reply Email</label>
            <input width="250" name="replyto_email" type="text" id="replyto_email" value="{{ newsletter['replyto_email'] if newsletter}}"  />
            or choose
            <select onchange="updateInput('replyto_email', this.value)" width="250" name="replyto_sel" id="replyto_sel" >
               <option value="">Select</option>
               {% for st in staff %}
               <option value="{{ st[1] }}">{{ st[0] }} ({{st[1]}})</option>
               {% endfor %}
            </select>
         </td>
      </tr>
   </table>
   <input type="submit" class="btn btn-success pull-left" value="Save &amp; Continue" />
</form>
<br />
{% endblock %}