<!-- Pagination -->

{% macro pagination(cntrlr, page) %}
    <div class="pagination">
        <ul>
            {% if page != 0 %}
            <li>
                <a href="{{ url_for('%s.index' % cntrlr, page = (page - 1))
                   }}">Prev</a>
            </li>
            {% endif %}
                {% for i in range(1) %}
            <li class="active">
                <a href="{{ url_for('%s.index' % cntrlr, page = page)
                }}">{{page}}</a>
            </li>
            <li>
                <a href="{{ url_for('%s.index' % cntrlr, page = (page + 1))
                }}">{{page + 1}}</a>
            </li>
            <li>
                <a href="{{ url_for('%s.index' % cntrlr, page = (page + 2))
                }}">{{page + 2}}</a>
            </li>
            <li>
                <a href="{{ url_for('%s.index' % cntrlr, page = (page + 3))
                }}">{{page + 3}}</a>
            </li>
            {% endfor %}
            <li>
                <a href="{{ url_for('%s.index' % cntrlr, page = (page + 1))
                }}">Next</a>
            </li>
        </ul>
    </div>
{% endmacro  %}


<!-- Form input -->
{% macro input(name, value='', type='text') %}
<input type="{{ type }}" value="{{ value|e }}" name="{{ name }}">
{% endmacro %}

<!-- Step tabs for new campaigns -->
{% macro steps(step, nid) %}
    <div class="nav nav-tabs">
        {% if step == "1" %}
        <li class="active">
            <a href="#">Step 1</a>
        </li>
        {% else %}
        <li>
            <a href="{{ url_for('newsletters.edit', nid = nid) if nid else url_for('newsletters.create') }}">Step 1</a>
        </li>
        {% endif %}
            {% if step == "2" %}
        <li class="active">
            <a href="#">Step 2</a>
        </li>
        {% else %}
        <li>
            <a href="{{ url_for('lists.index', nid = nid) if nid else url_for('newsletters.create') }}">Step 2</a>
        </li>
        {% endif %}
            {% if step == "3" %}
        <li class="active">
            <a href="#">Step 3</a>
        </li>
        {% else %}
        <li>
            <a href="{{ url_for('templates.index', nid = nid) if nid else url_for('newsletters.create') }}">Step 3</a>
        </li>
        {% endif %}
            {% if step == "4" %}
        <li class="active">
            <a href="#">Step 4</a>
        </li>
        {% else %}
        <li>
            <a href="{{ url_for('contents.index', nid = nid) if nid else url_for('newsletters.create') }}">Step 4</a>
        </li>
        {% endif %}
    </div>
{% endmacro %}