<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
  <title>pipmail</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta charset="utf-8">
  <style type="text/css">
    body { padding-top: 40px; }
    @media screen and (max-width: 768px) {
    body { padding-top: 0px; }
    }




}
  </style>

  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
  <!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/functions.js') }}"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
</head>
{% endblock %}
<body>
  {% block navbar %}
    {% include 'navbar.html' %}
  {% endblock %}
  <div class="container page">
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    <hr>
    {% block footer %}
    <footer class="footer">
      <p>pipmail</p>
    </footer>
    {% endblock %}
  </div>
  {% block js_footer %}
  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
  {% endblock %}
</body>
</html>