{% extends "base.html" %}
{% block content %}
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
      Add New Recipient
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
      <div class="accordion-inner">
        <table class="table table-hover table-bordered">
          <td class="h">Recipient Details</td>
          <tr>
            <td>
              <table>
                <tr>
                  <td align="right">First Name:</td>
                  <td align="left"><input style="width: 300px" name="new_first_name" type="text" id="new_first_name" value="" /></td>
                </tr>
                <tr>
                  <td align="right">Last Name:</td>
                  <td align="left"><input style="width: 300px" name="new_last_name" type="text" id="new_last_Name" value="" /></td>
                </tr>
                <tr>
                  <td align="right">Email:</td>
                  <td align="left"><input style="width: 300px" name="new_email" type="text" id="new_email" value="" /></td>
                </tr>
              </table>
            </td>
            <input type="hidden" name="list_id" id="list_id" value="" />
          </tr>
        </div>
      </div>
    </table>
  </div>
</div>
</div>
<div class="accordion-group">
<div class="accordion-heading">
  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
  Add Existing Recipient
  </a>
</div>
<div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
  <div class="accordion-inner">
    <table class="table table-hover table-bordered">
      <tr>
        <td>
          
          <select style="width: 300px;" name="recipChoice" id="recipChoice">
            {% if all_recipients %}
            {% for recip in all_recipients %}
            <option value="{{recip['first_name']+' '+recip['last_name']}}, {{ recip['email'] }}">
              {{ recip['first_name']+' '+recip['last_name']+' '+recip['email'] }}
            </option>
            {% endfor %}
            {% else %}
            <option value="None">No recipients</option>
            {% endif %}
          </select></td>
        </tr></table>
      </div>
    </div>
  </div>

<div class="accordion-group">
<div class="accordion-heading">
  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
  Import Recipients from CSV
  </a>
</div>
<div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
  <div class="accordion-inner">
    <table class="table table-hover table-bordered">
      <tr>
        <td>
          
          <select style="width: 300px;" name="recipChoice" id="recipChoice">
            {% if all_recipients %}
            {% for recip in all_recipients %}
            <option value="{{recip['first_name']+' '+recip['last_name']}}, {{ recip['email'] }}">
              {{ recip['first_name']+' '+recip['last_name']+' '+recip['email'] }}
            </option>
            {% endfor %}
            {% else %}
            <option value="None">No recipients</option>
            {% endif %}
          </select></td>
        </tr></table>
      </div>
    </div>
  </div>

<div class="accordion-group">
<div class="accordion-heading">
  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
  Edit Existing Recipient
  </a>
</div>
<div id="collapseThree" class="accordion-body collapse" style="height: 0px; ">
  <div class="accordion-inner">
    <table class="table table-hover table-bordered">
      <tr>
        <td>
          
          <select style="width: 300px;" name="recipChoice" id="recipChoice">
            {% if all_recipients %}
            {% for recip in all_recipients %}
            <option value="{{recip['first_name']+' '+recip['last_name']}}, {{ recip['email'] }}">
              {{ recip['first_name']+' '+recip['last_name']+' '+recip['email'] }}
            </option>
            {% endfor %}
            {% else %}
            <option value="None">No recipients</option>
            {% endif %}
          </select></td>
        </tr></table>
      </div>
    </div>
  </div>
{% endblock  %}