{% extends "base.html" %}
{% block content %}
{% from '_macros.html' import recip_pagination with context %}
{% if nid %}
{% from 'macros/_macros.html' import steps with context %}
{{ steps('2', nid) }}
{% endif %}
<div class="row-fluid">
    <div class="span6">
        <br/>
        <form action="{{ url_for('lists.edit', lid = lid) if lid else url_for('lists.create') }}" method="post">
            <table class="table table-bordered table-striped table-condensed">
                <tr>
                    <th>Name</th>
                </tr>
                <tr>
                    <td>
                        <label>Enter a name for this list</label>
                        <input width="200" style="width: 200px" name="name" type="text"
                            id="name" value="{{ lst['name'] if editing else ''}}" />
                    </td>
                </tr>
                <tr>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>
                        <label>Enter a brief description</label>
                        <input width="200" style="width: 400px" name="description" type="text" id="description" value="{{ lst['description'] if editing else '' }}" />
                    </td>
                </tr>
            </table>
            <input type="submit" class="btn btn-success pull-left" 
                            value="Save &amp; Continue" />
        </form>
    </div>
    {% if editing %}
    <div class="span6">
        <br/>
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Add Recipient</a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">

                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th class="span2">Name</th>
                                    <th class="span3">Email</th>
                                    <th class="span1"></th>
                                </tr>
                            </thead>
                            {% for recip in recips %}
                            <tr >
                                <td style="border-top:0;" >{{recip['first_name']+' '+recip['last_name']}}</td>
                                <td style="border-top:0;">{{recip['email']}}</td>
                                <td style="border-top:0;">{{recip['date_added']}}</td>
                                <td class="pull-left" style="border:0;background:0;padding:0;" >
                                    <ul style="list-style:none;">
                                        <li class="dropdown">
                                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#menu1">
                                                Actions <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="" > <i class="icon-edit"></i>
                                                        Edit
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="" > <i class="icon-remove"></i>
                                                        Delete
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        {{ recip_pagination(page) }}
                        <form action="{{ url_for('lists.create') }}" method="post">
                            <label>Enter a name for this recipient</label>
                            <input width="200" style="width: 200px" name="name" type="text"
                            id="name" value="{{ lst['name'] if editing else ''}}" />

                            <label>Enter an email</label>
                            <input width="200" style="width: 300px" name="description" type="text" id="description" value="{{ lst['description'] if editing else '' }}" />
                            <br/>

                            <input type="submit" class="btn btn-success pull-left" 
                            value="Create Recipient" />
                        </form>

                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Modify Recipient</a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">Anim pariatur cliche...</div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Import Recipients</a>
                </div>
                <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">Anim pariatur cliche...</div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endif %}
    {% endblock  %}