{% extends "base.html" %}
{% block content %}
{% from '_macros.html' import recip_pagination with context %}
{% if nid %}
{% from 'macros/_macros.html' import steps with context %}
{{ steps('2', nid) }}
{% endif %}
<div class="row-fluid">
    <div class="span1">

        <table class="table-condensed">

            <tr>
               
                <td>
                    <label style="font-weight:bold;">
                        Name</label>
                    <input width="200" style="width: 200px" name="name" type="text"
                            id="name" value="{{ lst['name'] if editing else ''}}" placeholder="{{ lst['name'] if lid else ''}}" />
                </td>

                <td><label style="font-weight:bold;">Description</label>
                    <input width="200" style="width: 300px" name="description" type="text" id="description" value="{{ lst['description'] if lid else '' }}" />
                </td>
            </tr>
        </table>

    </div>
</div>
{% if lid %}
<div class="row-fluid">
    <div class="span20">
        <h1 class="pull-left">Existing Recipients</h1>
        <br>
        <br>
        <br>
        <div class="btn-group pull-left">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                Actions
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="" id="edit"  > <i class="icon-edit"></i>
                        Edit
                    </a>
                </li>
                <li>
                    <a href="" > <i class="icon-remove"></i>
                        Delete
                    </a>
                </li>
            </ul>
        </div>
        <br>
        {% if not recips %}
            lololol
            {% else %}
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th class="span1">
                        <input type="checkbox" class="checkall"/>
                    </th>
                    <th class="span2">Name</th>
                    <th class="span3">Email</th>
                    <th class="span3">Current Lists</th>

                </tr>
            </thead>
            {% for recip in recips %}
            <tr >
                <td style="border-top:0;">
                    <input type="checkbox" name="checkboxlist" id="{{recip['recipient_id']}}"/>
                </td>
                <td style="border-top:0;" >{{recip['first_name']+' '+recip['last_name']}}</td>
                <td style="border-top:0;">{{recip['email']}}</td>
                <td style="border-top:0;">{{recip['date_added']}}</td>

            </tr>
            {% endfor %}
        </table>
        {{ recip_pagination(page) }}
        {% endif %}
    </div>
</div>
{% endif %}
<script>
$(document).ready(function() {
   $('th input:checkbox').click(function(e) {
      var table = $(e.target).closest('table');
      $('td input:checkbox', table).attr('checked', e.target.checked);
   });
});


$(document).ready(function() {
  $('#edit').click(function () {
    var checkValues = $('input[name=checkboxlist]:checked').map(function() {return $(this).attr("id");}).get();
    if((checkValues).length > 1){
      alert("Please select only one list to edit");
      
    } else {
        var url = "{{ url_for('lists.edit', lid=''  ) }}"+checkValues;
        $("#edit").prop("href",url)
    }
  });
});

</script>
{% endblock  %}