<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <title>pymail{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta charset="utf-8">

  <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
  <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
  <style> body { padding-top: 60px; } 
            td.h { font-size:20px;background:#F5F5F5; }
    </style>

  <!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>
     $(document).ready(function () {
        $('#from_name_sel').change(function () {
           if ($('#from_name_sel').val() != '') {
              var nameemail = $('#from_name_sel').val();
              var name = nameemail.split('-');
              var staffName = name[0];
              var staffEmail = name[1];
              $('#from_name').val(staffName);
              if ($('#from_email').val() == '') {
                 $('#from_email').val(staffEmail);
              }
           }
        });
        $('#from_email_sel').change(function () {
           if ($('#from_email_sel').val() != '') {
              $('#from_email').val($('#from_email_sel').val());
           }
        });
        $('#replyto_sel').change(function () {
           if ($('#replyto_sel').val() != '') {
              $('#replyto_email').val($('#replyto_sel').val());
           }
        });
     });
  </script>
  <script type="text/javaScript">
 
    function confirmDelete(){
    var agree = confirm("Are you sure you want to delete this campaign?");
    if(agree)
         return true;
    else
         return false;
    }
  </script>
 

  {% endblock %}
</head>
<body>
  {% block navbar %}
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <a class="brand" href="/">pymail</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="dropdown">
              <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                Campaigns <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{{ url_for('campaigns.create_campaign') }}">Create</a>
                </li>
                <li>
                  <a href="#">Search</a>
                </li>
                <li>
                  <a href="#">Queue</a>
                </li>
                <li>
                  <a href="#">Types</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                Subscribers <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Lists</a>
                </li>
                <li>
                  <a href="#">Unsubscribers</a>
                </li>
              </ul>
            </li>
            <li>
              <a>Templates</a>
            </li>
            <li>
              <a>Statistics</a>
            </li>
            <li>
              <a href="#">Users</a>
            </li>
          </ul>
          {% block navbar_right %}
          <ul class="nav pull-right">
            {% if not session.logged_in %}
            <li>
              <a href="{{ url_for('login') }}">Login</a>
            </li>
            {% else %}
            <li>
              <a href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% endif %}
          </ul>
          {% endblock %}
        </div>
        <!--/.nav-collapse --> </div>
    </div>

  </div>
  {% endblock %}
  <div class="container page">
    <div class="content">
      {% block content %}
          {% endblock %}
    </div>
    <hr>
    {% block footer %}
    <footer class="footer">
      <p>pymail</p>
    </footer>
    {% endblock %}
  </div>
  {% block js_footer %}
  <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js"></script>
  {% endblock %}
</body>
</html>