{% extends "base.html" %}
{% block content %}

<div class="row-fluid">
   <div class="span20">
      <h1 class="pull-left">Existing Lists</h1>

      <table class="table table-hover table-bordered">
         <thead>
            <tr>
               <th>Name</th>
               <th>Created</th>
               <th>Recipient Count</th>
               <th></th>

            </tr>
         </thead>
         <tbody>
            <tr>
               <td>name</td>
               <td>created</td>
               <td>recipient count</td>
               <td>
                  <a href="" class="btn btn-danger pull-right" onClick="return confirmDelete();" >Delete</a>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
<div class="pull-right">
   {% if page != 1 %}
   <a href="{{ url_for('index', page = (page - 1))
            }}">Previous Page</a>
   {% endif %}
   <a href="{{ url_for('index', page = (page + 1))
            }}">Next Page</a>
</div>
{% endblock %}