{% extends "base.html" %}
{% block content %}
{% if nid %}
    {% from '_macros.html' import steps with context %}
    {{ steps('3', nid)}}
{% endif %}
<div class="row-fluid">
    <div class="span20">
        <h1 class="pull-left">Existing Templates</h1>
        <br>
        <a href="{{ url_for('templates.create') }}" class="btn btn-success pull-right ">Create New Template</a>

        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th class="span2">Name</th>
                    <th class="span6">Preview</th>
                    <th class="span2">Date Added</th>
                    <th class="span1">Actions</th>
                </tr>
            </thead>
            {% for tmplt in templates %}
            <tr>
                <td>{{tmplt['name']}}</td>
                
                <td></td>
                <td>{{tmplt['date_added']}}</td>
      
                <td style="table-layout:fixed;overflow:hidden;text-align:center;width:20%;">
                    <a href="{{ url_for('templates.edit', tid=tmplt['template_id'])}}" class="btn btn-mini"> <i class="icon-edit"></i>
                        Edit
                    </a>
                    <a href="{{ url_for('templates.edit', tid=tmplt['template_id'])}}" class="btn btn-mini"> <i class="icon-remove"></i>
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}